.table-body-players-card-body-info {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
}

.table-body-players-card-body-stats {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	flex: 0 1 85px;
	margin-top: 3px;
	height: 35px;
}

.table-body-players-card-body-stats-rank {
	width: 45px;
    height: 18px;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 2.5px;
}

.table-body-players-card-body-stats-games {
	margin-top: 2px;
	font-size: 10px;
}

.table-body-players-card-body-stats-games span {
	padding-left: 3px;
	opacity: .7;
}