.table-body-players-card-body-info {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
}

.table-body-players-card-body-stats {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	flex: 0 1 85px;
	margin-top: 3px;
	height: 35px;
}

.table-body-players-card-body-stats-rank {
	width: 45px;
    height: 18px;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 2.5px;
}

.table-body-players-card-body-stats-games {
	margin-top: 2px;
	font-size: 10px;
}

.table-body-players-card-body-stats-games span {
	padding-left: 3px;
	opacity: .7;
}

/*Inventory styles*/
body[theme=dark] .thing .thing-contnent {
    border-color: #3d3e46;
}

body:not([theme]) .thing .thing-contnent {
    border-color: #e6e6e6;
}

.inventory-items-one .thing-contnent {
	border-radius: 5px 5px 0 0;
}

.thing.thing__souvenir .thing-contnent {
	/*todo: check original selector .thing.thing__souvenir .thing-image:not(._hack)*/
	border-width: 2px;
    border-color: #fad58c;
}

.thing .thing-contnent {
    border: 1px solid;
    border-bottom: none;
}

.thing .thing-price {
	font-size: 11px;
	text-align: center;
	padding-bottom: 5px;
}