/* Modified site styles by M1 Plus */

.table-body-players-card-body-avatar {
	height: 35px
}

.table-body-players-card-body-avatar>div {
	width: 35px;
	height: 35px;
}

body:not([mnpl-newcolors]) .table-body-players-card-body-avatar>div {
	border: 2px solid transparent
}

body[mnpl-newcolors] .table-body-players-card-body-avatar>div>div {
	border: 2px solid #161a1b
}