.thing {
    height: 160px;
}

.thing .thing-image {
    width: 148px;
    height: 109px;
    padding: 13px 18px 14px;
    border: none;
}

.thing.thing__souvenir .thing-image {
    width: 146px;
    height: 107px;
    padding: 13px 17px 14px;
}