.table-body-players-card-body-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.table-body-players-card-body-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex: 0 1 85px;
    margin-top: 3px;
    height: 35px;
}

.table-body-players-card-body-stats-rank {
    width: 45px;
    height: 18px;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 2.5px;
}

.table-body-players-card-body-stats-games {
    margin-top: 2px;
    font-size: 10px;
}

.table-body-players-card-body-stats-games span {
    padding-left: 3px;
    opacity: .7;
}

.table-body-players-card-body-condition {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.table-body-players-card-body-bankroll {
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
    width: 50%;
}

/*.table-body-players-card-body-money {
    width: 50%;
}*/

.table-body-players-card-body-bankroll:before {
    content: '$';
    display: inline-block;
    padding-right: 1px;
    opacity: .5;
    transform: scale(.75)
}

.table-body-players-card-body-bankroll:after {
    content:'k';
    padding-left: 2px;
    opacity: .7
}

.table-body-players-card-body-credit {
    flex-basis: 100%;
    text-align: center;   
    font-size: 9px;
}

/* add to gh-pages */
.table-body-players-card-body-money {
    font-size: 14px!important;
}