/* Rewrited source monopoly-one styles */

[m1-plus] .table-body-players-card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

[m1-plus] .table-body-players-card-body-avatar {
    height: 35px
}

[m1-plus] .table-body-players-card-body-avatar > div {
    width: 40px;
    height: 40px;
    padding: 2px;
}

body:not([mnpl-newcolors]) [m1-plus] .table-body-players-card-body-avatar > div {
    border: 2px solid transparent;
}

body[mnpl-newcolors] [m1-plus] .table-body-players-card-body-avatar > div > div {
    border: 2px solid #161a1b;
}

[m1-plus] .table-body-players-card[mnpl-action_player] .table-body-players-card-body-avatar > div  div {
    border-width: 0;
}

[m1-plus] .table-body-players-card-body-timer {
    top: 50px;
    left: 10px;
    width: 40px;
    height: 40px;
}

[m1-plus] .table-body-players-card-body-timer div {
    width: 40px;
    height: 40px;
    font-size: 16px;
}

[m1-plus] .table-body-players-card-body-nick ._nick > div {
    font-weight: 800;
}

[m1-plus] .table-body-players-card-body-money {
    margin-top: 0;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
}

/* Custom M1 Plus styles */

.table-body-players-card-body-info {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 75%;
}

.table-body-players-card-body-credit {
    flex-basis: 100%;
    text-align: right;   
    font-size: 9px;
}

/*.table-body-players-card-body-condition {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.table-body-players-card-body-bankroll {
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
    width: 50%;
}

.table-body-players-card-body-bankroll:before {
    content: '$';
    display: inline-block;
    padding-right: 1px;
    opacity: .5;
    transform: scale(.75)
}

.table-body-players-card-body-bankroll:after {
    content:'k';
    padding-left: 2px;
    opacity: .7
}*/